In [1]:
s=[1,2,3,4];

# Slicing

In [2]:
print(s)

[1, 2, 3, 4]

In [3]:
c=s[2]
print(c)

3

In [4]:
c=s[1::2]
print(c)

[2, 4]

In [5]:
c='saikiran'
d=c[1::2]

In [6]:
print(d)

akrn

# Insert strings

In [7]:
y="yash"
"I am the {} how asks you".format(y)

'I am the yash how asks you'

In [8]:
"I will go to class to my friends for {}  {}  {}".format(y,y,y)

'I will go to class to my friends for yash  yash  yash'

In [9]:
s="mn";
s2="bm";
s3="gm";
'I m three gots there nme is {1} re the {2} nd the {0}'.format(s,s2,s3)

'I m three gots there nme is bm re the gm nd the mn'

In [10]:
'I m three gots there nme is {c} re the {d} nd the {b}'.format(b=s,c=s2,d=s3)

'I m three gots there nme is bm re the gm nd the mn'

In [11]:
'I m three gots there nme is {c} re the {c} nd the {c}'.format(b=s,c=s2,d=s3)

'I m three gots there nme is bm re the bm nd the bm'

# Lists

In [12]:
b=[2,'hey',454,'jbfdk']
b

[2, 'hey', 454, 'jbfdk']

In [13]:
b.append(64379)

In [14]:
b

[2, 'hey', 454, 'jbfdk', 64379]

In [15]:
b.pop()

64379

In [16]:
b

[2, 'hey', 454, 'jbfdk']

In [17]:
b.remove('hey')

In [18]:
b

[2, 454, 'jbfdk']

In [19]:
b.count(2)

1

In [20]:
b.append(2)

In [21]:
b.append(2)

In [22]:
b.count(2)

3

In [23]:
b.insert(2,'gothere')

In [24]:
b

[2, 454, 'gothere', 'jbfdk', 2, 2]

In [25]:
f=['yash','go','kool','togo','apple']

In [26]:
f.sort()
f

['apple', 'go', 'kool', 'togo', 'yash']

In [27]:
f=[input('enterthe '),'ho']

enterthe ya

In [28]:
f=['yash','go','kool','togo','apple']
f.reverse()
f

['apple', 'togo', 'kool', 'go', 'yash']

In [29]:
f1=['yash','go','kool','togo','apple']
f1.sort()
f1

['apple', 'go', 'kool', 'togo', 'yash']

In [30]:
b.index('gothere')

2

In [31]:
b.extend('lopp')

In [32]:
b

[2, 454, 'gothere', 'jbfdk', 2, 2, 'l', 'o', 'p', 'p']

In [33]:
b.clear()
b

[]

# Tuples

In [34]:
s=(23,'hi',3546)
s

(23, 'hi', 3546)

In [35]:
s.count(23)

1

In [36]:
s=(23,23,'hi','bolo')
s.count(23)

2

In [37]:
s.index('hi')

2

# Dictionary

In [38]:
b={'nme': 'ysh',
  'ge':'23',
  'cty':'chenni'}

In [39]:
b.values()

dict_values(['ysh', '23', 'chenni'])

In [40]:
b.items()

dict_items([('nme', 'ysh'), ('ge', '23'), ('cty', 'chenni')])

In [41]:
b.keys()

dict_keys(['nme', 'ge', 'cty'])

In [42]:
b.pop('nme')

'ysh'

In [43]:
b

{'ge': '23', 'cty': 'chenni'}

In [44]:
b.popitem()

('cty', 'chenni')

In [45]:
b

{'ge': '23'}

In [46]:
b.clear()

In [47]:
b

{}

# Files

In [48]:
%%writefile myfilef.txt
    hi how will be your rooms 
    why you will come slow

Overwriting myfilef.txt

In [49]:
with open('myfilef.txt',mode='r') as new_filef:
    content=new_filef.read()
print(content)

    hi how will be your rooms
    why you will come slow

In [50]:
with open('myfilet.txt',mode='w') as new_file:
    new_file.write('hi guys how you ');

In [51]:
with open('myfilet.txt',mode='r') as new_filek:
    content=new_filek.read()
    print(content)

hi guys how you

# Bool

In [52]:
2<3

True

In [53]:
3<4

True

In [54]:
4<3

False

In [55]:
2<3>1<4<5>7

False

In [56]:
(2<3)<3<5<8<9>(4>5)

True

# Control Statements

In [57]:
lists={2,3,4,5,6,7};
for i in lists:
    print(i)

2
3
4
5
6
7

In [58]:
s=3;
if s%2==0:
    print('even');
elif s%2==1:
    print('odd')

odd

In [59]:
s=2;
if s%2==0:
    print('even is',s);
else:
    print('odd')

even is 2

In [60]:
s=2;
while s<5:
    s=s+1;
    print(s)

3
4
5

In [61]:
s=2;
while s<10:
    s=s+1;
    if s>5:
        break;
    print(s)

3
4
5

# OneLine statements

In [62]:
for i in range(2,5):
    print(i)

2
3
4

In [63]:
for i in range(2,5): print(i)

2
3
4

In [64]:
[x for x in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
[x for x in 'saikiran']

['s', 'a', 'i', 'k', 'i', 'r', 'a', 'n']

# Piglet problem

In [66]:
for i in range(1,100):
    if(i%3==0 and i%5==0):
        print('dogcat')
    elif(i%3==0):
        print('dog')
    else:
        print('cat')

cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dogcat
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dogcat
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dogcat
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dogcat
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dogcat
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dog
cat
cat
dogcat
cat
cat
dog
cat
cat
dog
cat
cat
dog

# Problems

In [67]:
def fun():
    print('helloworld');

In [68]:
fun()

helloworld

In [69]:
print('hello  '+input('Enter your name'))

Enter your namego
hello  go

In [70]:
s=23;
count=0;
for i in range(2,100):
    if s%i==0 and s%1==0:
        count=count+1;
    
if(count==2):
    print(' not a prime');
else:
    print('it is a prime')

it is a prime

In [71]:
def fun(arg):
    print(arg)

In [72]:
fun('Hi 2')

Hi 2

# Farenhiet to censis

In [73]:
f=5;
s=((32*f-32)/(0.5))
print(s)

256.0

# Map

In [2]:
mylist=[2,3,4,5,6]
list(map(Square,mylist))

NameError: name 'Square' is not defined

# Lambda

In [87]:
x=lambda a:a
print(x(2))

2

In [75]:
x=lambda s,b:s*b
print(x(2,3))

6

In [92]:
def fun(n):
    return lambda a:a*n
mydoubler=fun(2);
s=mydoubler(22)
print(s)

44